* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  background: #040924; 
}

body, input, button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;

}

form {
  margin-top: 3.2rem;
  width: 30rem;
}
.card {
  background: #FFFFFF;
  padding: 4.8rem 6.4rem 6.4rem;
  max-width: 42.8rem;
  margin-inline: auto;
  border-radius: .6rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.title {
  color: #0C3440;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.input-wrapper label {
  color:  #00453A;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input-wrapper input {
  border-radius: 4px;
  background: #DCE2E9;
  border: none;
  height: 5.2rem;
  padding: 1.6rem;
  border: 1px solid rgba(73, 80, 87, 0.30);
}

.input-wrapper input::placeholder {
  color: rgba(73, 80, 87, 0.50);
}

form input:focus {
  outline: 2px solid  #02799D;
}

form button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  height: 5.2rem;
  width: 100%;
  padding: 1.6rem;
  border-radius: 4px;
  background: #02799D;
  border: none;
  color: white;
  margin-top: 3.2rem;
  cursor: pointer;
  font-weight: 700;
}

form button:hover {
  background: #088bb3;
}

/*mmodal*/

.modal-wrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.70);
  inset: 0;
  display: grid;
  place-content:center;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: relative;
}

.modal button {
  position: absolute;
  background: none;
  border: none;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  transition: transform .3s;
}

.modal button:hover {
  transform: scale(1.2);
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;

}

/* alert-error*/

.alert-error.open{
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.alert-error{
  background: #F03E3E;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  color: #FFF;
  font-weight: 700;
  padding: .8rem 0 ;

  visibility: hidden;
  opacity: 0;

  transform: translateY(-30px);
  transition: transform .7s;
}